<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Question Paper</title>
</head>
<body>
    <h1>View Question paper</h1>
    {% for ques in questions %}
      {{forloop.counter}}:-
      {{ques.question}}<br>
      {{ques.answer}}<br>
      {{ques.option_one}}<br>
      {{ques.option_two}}<br>
      {{ques.option_three}}<br>
      {{ques.option_four}}<br><br><br>
    {% endfor %}
</body>
</html>