<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Question papers</title>
</head>
<body>
    {% for paper in papers %}
      <div class="paper">
          <div class="row">
            {{forloop.counter}}:-
              <div class="quespaper">
                  {{paper.subject}}--{{paper}}
              </div>
              <div class="link">
                  <a href="/viewques/{{paper.question_paper_id}}">View Question paper</a>
              </div>
          </div>
      </div>
    {% endfor %}
</body>
</html>